html,body{
  height: 842px;
  width: 595px;
  margin:0 auto;
}
body { 
    font-family:'DejaVu Sans' !important;
    font-size: 20px; 
    direction: rtl;
}
  
h1 { 
    font-family:'DejaVu Sans' !important;
   
}



/*--------------------*/
  /*-- Progress --*/
/*--------------------*/





  